.footer {
text-align: center;

img {
    margin: 5% 0;
}

.icon-footer {
    height: 63px;
    border: 1px solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    color: #777777;
    margin: 0 20px;
    &:hover {
        color: #000000;
        cursor: pointer;
    }
}

.gray-line {
    margin: 5%;
}

p {
    color: #777777;
    margin: 2%;
    font-size: smaller;
}
}

